html {
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}
h1 {
  padding-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #24527a;
}
ul {
  list-style: none;
}

.largeMain {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 75px;
  padding: 50px;
  border: 30px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-collapse: separate;
}

.cardWrapper {
  text-align: center;
  border-radius: 20px;
}
.btncurrent {
  margin-left: -80px;
  transition: ease-in-out;
}
.searchRow {
  margin: 0 auto;
}
.btnsearch {
  right: 15px;
}
.input-group {
  width: 600px;
  margin: 0 auto;
}
.tempRange {
  color: #606470;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  list-style-type: none;
}
.date {
  text-align: right;
  list-style-type: none;
  right: 30px;
}
.cityName {
  text-align: center;
  padding: 20px;
}

.weatherDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #24527a;
  margin-bottom: 40px;
  text-decoration: none;
}

.card-temp-min {
  color: #878787;
}
.weatherDescription .units {
  font-size: 14px;
  top: -15px;
  left: 75px;
  text-decoration: none;
  position: relative;
  cursor: default;
  transition: all 150ms ease-in-out;
  color: #24527a;
}

.weatherDescription .units .activeFahrenheitLink {
  color: #24527a;
  font-size: 14px;
  font-weight: bolder;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}

.weatherDescription .units .activeFahrenheitLink:focus {
  color: #24527a;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}

.weatherDescription .units .activeFahrenheitLink:visited {
  color: #24527a;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}
.weatherDescription .units .activeFahrenheitLink:active {
  color: #24527a;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}

.weatherDescription .units .activeFahrenheitLink:hover {
  color: #24527a;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}

.weatherDescription .units .celsiusLink:hover {
  color: #24527a;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}

.weatherDescription .units .celsiusLink:focus {
  color: #24527a;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}
.weatherDescription .units .celsiusLink:visited {
  color: #24527a;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}
.weatherDescription .units .celsiusLink:active {
  color: #24527a;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  cursor: default;
  transition: all 150ms ease-in-out;
}

.weatherDescription .units .divider {
  margin-left: 5px;
}

.currentTemp {
  margin-right: -80px;
  font-size: 30px;
}
.btn-success:hover {
  color: #28a745;
  background-color: transparent;
  transition: ease-in-out 0.15s;
  border-color: #28a745;
}
.btn-success {
  background-color: #28a745;
}
.currentDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin: 10 auto;
  display: block;
  color: #40a8c4;
  text-transform: capitalize;
  margin-bottom: -12px;
}
.weatherDetails {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  color: #606470;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.weekReview {
  margin: 0 auto;
  margin-bottom: 100px;
}

.weekDays {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
  color: #24527a;
}

.forecastInfo {
  color: #24527a;
}

.forecastDisplay {
  margin: 0 auto;
}
.footer {
  color: #24527a;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.footerLink {
  text-decoration: none;
  color: #24527a;
}

.footerLink:hover {
  color: #40a8c4;
  font: 30px;
  transition: all 150ms ease-in-out;
  background-color: transparent;
  font-weight: bolder;
  text-decoration: none;
  cursor: default;
}
